.wishlist_Cards {
  display: flex;
  justify-content: space-around;
}
.wishlist_Cards span {
  cursor: pointer;
}
.wishlist-items {
  margin: 10px;
}
.glanceCart-details h1 {
  font-size: 1.1rem !important;
}
table tr,
table td,
table th {
  font-size: 0.75rem !important;
}
td span{
  font-size: 0.6rem !important;
  cursor: pointer;
}

section {
  width: 80%;
  float: right !important;
}
@media screen and (min-width: 200px) and (max-width: 974px) {
  section {
    width: 100% !important;
    margin: auto;
    float: none !important;
  }
}