.topBar {
  position: sticky;
  top: 0;
  font-size: 1.2rem !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  background-color: #c8c8c8;
  width: 100% !important;
}
.topBar span {
  margin-right: 0.75rem;
  cursor: pointer;
}
