.menuItems-nav_list {
  list-style: none;
  margin-top: 0.5rem;
  width: 100%;
  margin-left: -1rem;
}
.menuItems-nav_list li {
  color: #2c2c2c;
  padding: 1rem;
}
.menuItems-nav_list li span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8rem !important;
}
a {
  text-decoration: none;
  color: #2c2c2c !important;
}
a:hover {
  padding: 0.5rem 1rem;
  margin-left: -1.2rem !important;
  background-color: #f0f0f9;
  color: #2c2c2c !important;
  border-radius: 2rem;
}
.active,
.active:hover {
  padding: 0.5rem 1rem;
  margin-left: -1.2rem !important;
  background-color: #3781f1;
  color: #fff !important;
  border-radius: 2rem;
  font-weight: 600 !important;
}
