@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px !important;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 300 !important;
  background-color: #f6f6f6;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  overflow-x: hidden;
}

sup {
  font-size: 0.7rem !important;
}
section {
  width: 80%;
  float: right !important;
}
@media screen and (min-width: 200px) and (max-width: 974px) {
  section {
    width: 100% !important;
    margin: auto;
    float: none !important;
  }
}
label {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}
.form-control {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.375 rem 0.75 rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1 px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-select {
  margin-top: 0.3rem;
}
input::placeholder {
  font-size: 0.9rem;
}
.form-group {
  margin: 0.3rem;
}
table tr,
table td,
table th {
  font-size: 0.75rem !important;
}
