@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px !important;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 300 !important;
  background-color: #f6f6f6;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  overflow-x: hidden;
}

sup{
  font-size: 0.5rem !important;
}
section {
  width: 80%;
  float: right !important;
}
@media screen and (min-width: 200px) and (max-width: 974px) {
  section {
    width: 100% !important;
    margin: auto;
    float: none !important;
  }
}
